.navbar {
    height: 80px;
}

.navbar-brand img {
    max-width: 150px;
}

.navbar-brand img {
    max-width: 200px;
}

.menu {
    justify-content: flex-end;
    font-size: 14px;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: coral;
}

.carousel-caption {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: rgba(224, 152, 128, .5);
    font-size: 14px;
    padding: 50px;
}

.part_2 {
    background-color: #2d2f3b;
 }

.navbar-light .navbar-nav .nav-link {
    color: white;
    margin: 0px 0px 5px 15px;
}

.aux{
    margin-left: 20px;
}

.navbar-brand .active{
    margin-right: 5px;
    margin-left: 15px;
}

.row{
    margin-left: 20px;
    margin-right: 20px;
}

.separate{
    padding-bottom: 60px;
}

.part_1{
    background-color: #f2f2f2;
}

.part_1 p, h4{
    color: #666d8a;
}

.part_2 a{
    font-size: 10px;
}

.part_2 .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: white;
}

.part_2 p{
    color: #666d8a;
}

.bottom {
    padding-bottom: 100px;
    padding-top: 20px;
}

.row>*{
    padding-left: 0px;
}

.form-control{
    margin-top: 10px;
    background-color: #d75650;
    border-color: #d75650;
    color: #f16c65;
    background-clip: padding-box;
}

h1 {
    padding-top: 40px;
}

.part_3{
    background-color: #f2f2f2;
}

.part_3 p, h1, h4{
    color: #686b8a;
}

.part_4{
    background-color: #f16c65;
}

.part_4 h1, p, h2{
    color: #f0d8d8;
}

.part_4 .col p{
    font-size: 12px;
}

.part_4 h2{
    font-size: 18px;
}

.part_5 {
    background-color: #2d2f3b;
}

.part_5 p{
    color: #666d8a;
    font-size: 14px;
}